@media screen and (max-width: 800px) {
  .Header {
    padding: 22px 20px 18px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1001;
    border: none;
  }
}
