.event-cam {
  overflow: hidden;

  &__image {
    touch-action: none;
    background-repeat: repeat-x;
    height: 430px;
    background-size: cover;

    &_hide {
      display: none !important;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

    &_hide {
      display: none;
    }
  }

  &__zoom,
  &__bright {
    font-size: 1.125rem;
    line-height: 1.3rem;
    color: $primary-color;
  }
}
