.event-cam {
  overflow: hidden;
  margin-top: 16px;

  &__image {
    touch-action: none;
    background-repeat: repeat-x;
    height: 430px;
    background-size: cover;

    &_hide {
      display: none !important;
    }
  }
}
