.event_size-l {
  grid-column: span 4;
  grid-row-end: span 3;

  & .event-system {
    display: flex;
    justify-content: space-between;
  }

  & .event__desc {
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: $primary-color;
  }
}
