.event-cam {
  overflow: hidden;

  &__image {
    margin-top: 16px;
    touch-action: none;
    background-repeat: repeat-x;
    height: 430px;
    background-size: cover;

    &_hide {
      display: none !important;
    }
  }
}
