@media screen and (max-width: 800px) {
  .Header-Menu {
    visibility: hidden;
    position: fixed;
    background-color: rgba(#333333, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, -100%, 0);
    transition: all .5s ease-out;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 90;
  }
}
